{% extends 'base.html' %} 

{% load static %}


{% block meta %}
<link rel="stylesheet" href="{% static 'css/top-songs.css' %}">  
{% endblock meta %}
  

{% block title %}
<title>Canciones populares</title>
{% endblock title %}

{% block content %}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        ¡Estas son las canciones del momento!
      </h1>
      <h2 class="subtitle has-text-white">
        Ponte cómodo y disfrútalas
      </h2>
      <a href="{% url 'music:index' %}" class="button">Volver al inicio</a>
    </div>
  </div>
</section>

<section class="section">
  {% for song in song_list %}
    <article class="media song" data-url="{{song.file.url}}">
      <figure class="media-left">
        <p class="image is-64x64">
          <img class="cover" src="{{ song.album.image.url }}" />
        </p>
      </figure>
      <div class="media-content">
        <div>
          <p class="song-title has-text-white song-name">{{ song.name }}</p>
          <p class="has-text-white artist-name">{{ song.album.artist }}</p>
          <p class="has-text-white album-name">{{ song.album }}</p>
        </div>
      </div>
    </article>
  {% endfor %}
</section>
{% endblock content %}
