<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'img/logo_square.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block meta %} {% endblock meta %}
    {% block title %}
    <title>Napster</title>
    {% endblock title %}
  </head>
  <body class="has-navbar-fixed-bottom has-background-black">
    {% block content %} {% endblock content %}
    {% include '_player.html' %}
    <script src="{% static 'js/bulma.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    {% block js_scripts %} {% endblock js_scripts %}
  </body>
</html>
